body {
    background-color: #d3d7d8;
}
nav {
    padding: 20px;
    margin-bottom: 20px;
}
img {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
#addToCart {
    width: 150px;
}
#searchBox {
    border-radius: 20px;
}
#myForm {
    width: 50%; 
    padding-top: 20px
}
#cartTotal {
    color: #f08804
}