{% extends "store/layout.html" %} {% block title %}<title>Home</title>{% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/footwear">Footwear</a></li>
            <li><a class="dropdown-item" href="/fitness">Fitness</a></li>
            <li><a class="dropdown-item" href="/electronics">Electronics</a></li>
            <li><a class="dropdown-item" href="/books">Books</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/search">Search</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <a href="/cart"><button class="btn btn-warning">Cart
            <span id="cartTotal" class="badge text-bg-secondary">{{cart_total}}</span>
          </button></a>
        <a href="/logout/"><button class="btn btn-danger">Logout</button></a>
      </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<h1>Hi, {{user}}!</h1>
<div id="jabra"><img
    src="https://images-na.ssl-images-amazon.com/images/G/01/us-manual-merchandising/1500x400_animatedbanner.gif"
    alt="Jabra Elite 4 Active">
</div>
<div id="home-top-left" class="vstack gap-5">
  <h2 style="font-size: 3em">Stars, Stripes, and Savings</h2>
  <h4><strong class="red">Extra 20% off Storewide</strong> with code: REXTHEGREAT</h4>
  <H4>FREE Same Day Delivery for <span class="red">Vets</span></H4>
</div>
<div class="cardDiv">
  {% for item in data %}
  <div class="card">
    <img src="../static/{{item.imageUrl}}" alt="{{ item.name }}">
    <div class="card-body">
      <h2 class="card-title">{{ item.name }}</h2>
      <a href="/{{ item.name.lower }}" class="btn btn-success">Shop Now</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}