{% extends "store/layout.html" %} {% block title %}
<title>Search Page</title>
<style>
  body {
    background-image: url('../static/images/running.jpg');
    background-size: cover;
  }
</style> 
{% endblock %}
{% block content %}
<div style="justify-items: center;" class="vstack gap-5">
  <form method="POST" id="myForm" class="hstack gap-3 m-auto">
    {% csrf_token %}
      <input id='searchBox' type="text" name="name" placeholder="Enter Item name" class="form-control"/>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
</form>
</div>
{% endblock %}